<mat-sidenav-container class="admin-shell">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <div class="admin-sidenav-content">
      <h3>Administration</h3>

      @if (isReadOnlyAdmin) {
      <p class="readonly-text">Mode lecture seule</p>
      }

      <nav class="admin-nav">
        <a mat-button routerLink="/admin/manquants" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Stages à suivre
        </a>

        <a mat-button routerLink="/admin/etudiants" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Étudiants
        </a>

        <a mat-button routerLink="/admin/superviseurs" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Superviseurs
        </a>

        <a mat-button routerLink="/admin/entreprises" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Entreprises
        </a>

        @if (!isReadOnlyAdmin) {
        <a mat-button routerLink="/admin/etudiants/nouveau" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Ajouter un étudiant
        </a>

        <a mat-button routerLink="/admin/affectation-superviseur" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Affectation superviseur
        </a>

        <a mat-button routerLink="/admin/import-csv" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Import CSV
        </a>
        }
      </nav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="admin-toolbar">
      <span>{{ 'layout.title' | transloco }}</span>

      <span class="toolbar-spacer"></span>


      <!-- 🌍 Switch langue -->
      <mat-button-toggle-group [value]="currentLang" (change)="setLang($event.value)" aria-label="Choix de la langue"
        style="margin-right:12px;">
        <mat-button-toggle value="fr">FR</mat-button-toggle>
        <mat-button-toggle value="en">EN</mat-button-toggle>
      </mat-button-toggle-group>

      <span>
        {{ 'layout.welcome' | transloco }} {{ currentUser()?.prenom || '' }} {{ currentUser()?.nom || '' }}
      </span>

      <button mat-stroked-button color="primary" (click)="logout()">
        Déconnexion
      </button>

    </mat-toolbar>

    <div class="admin-page-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>