<mat-sidenav-container class="admin-shell">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <div class="admin-sidenav-content">
      <h3>{{ 'layout.admin' | transloco }}</h3>

      @if (isReadOnlyAdmin) {
      <p class="readonly-text">
        {{ 'layout.readonly' | transloco }}
      </p>
      }

      <nav class="admin-nav">
        <a mat-button routerLink="/admin/manquants" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'adminMenu.stagesToFollow' | transloco }}
        </a>

        <a mat-button routerLink="/admin/etudiants" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'adminMenu.students' | transloco }}
        </a>

        <a mat-button routerLink="/admin/superviseurs" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'adminMenu.supervisors' | transloco }}
        </a>

        <a mat-button routerLink="/admin/entreprises" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'adminMenu.companies' | transloco }}
        </a>

        @if (!isReadOnlyAdmin) {
        <a mat-button routerLink="/admin/etudiants/nouveau" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'adminMenu.addStudent' | transloco }}
        </a>

        <a mat-button routerLink="/admin/affectation-superviseur" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'adminMenu.assignSupervisor' | transloco }}
        </a>

        <a mat-button routerLink="/admin/import-csv" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'adminMenu.importCsv' | transloco }}
        </a>
        }
      </nav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="admin-toolbar">
      <span>{{ 'layout.title' | transloco }}</span>

      <span class="toolbar-spacer"></span>

      <!-- 🌍 Switch langue -->
      <mat-button-toggle-group
        [value]="currentLang"
        (change)="setLang($event.value)"
        style="margin-right:12px;"
      >
        <mat-button-toggle value="fr">FR</mat-button-toggle>
        <mat-button-toggle value="en">EN</mat-button-toggle>
      </mat-button-toggle-group>

      <span>
        {{ 'layout.welcome' | transloco }}
        {{ currentUser()?.prenom || '' }} {{ currentUser()?.nom || '' }}
      </span>

      <button mat-stroked-button color="primary" (click)="logout()">
        {{ 'layout.logout' | transloco }}
      </button>
    </mat-toolbar>

    <div class="admin-page-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>