<mat-sidenav-container class="stagiaire-shell">

  <mat-sidenav mode="side" opened class="stagiaire-sidenav">

    <div class="stagiaire-sidenav-content">
      <h3>Espace stagiaire</h3>

      <nav class="stagiaire-menu">

        <a mat-button routerLink="/stagiaire" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Tableau de bord
        </a>

        <a mat-button routerLink="/stagiaire/profil" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Mon profil
        </a>

        <a mat-button routerLink="/stagiaire/stages/nouveau" routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Créer un stage
        </a>

      </nav>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- HEADER -->
    <mat-toolbar class="stagiaire-toolbar">

      <span>Gestion de stages</span>

      <span class="toolbar-spacer"></span>

      <!-- 🌍 Switch langue -->
      <mat-button-toggle-group [value]="currentLang" (change)="setLang($event.value)" aria-label="Choix de la langue"
        style="margin-right:12px;">
        <mat-button-toggle value="fr">FR</mat-button-toggle>
        <mat-button-toggle value="en">EN</mat-button-toggle>
      </mat-button-toggle-group>

      <span>
        Bienvenue {{ currentUser()?.prenom || '' }} {{ currentUser()?.nom || '' }}
      </span>


      <button mat-stroked-button color="primary" (click)="logout()">
        Déconnexion
      </button>

    </mat-toolbar>

    <!-- CONTENU -->
    <div class="stagiaire-content">
      <router-outlet />
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>